.switch-list {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.switch-list,
.switch-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.switch {
  text-align: center;
  display: flex;
  align-items: center;
}

.switch-list-item {
  display: flex;
  align-items: center;

  h4 {
    font-size: .9rem;
    margin-right: 8px;
    color: darken($color-light, 15%);

    @include media(md) {
      font-size: 1rem;
    }
  }
}

.switch-btn {
  position: relative;

  .on::after,
  .off::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
  }

  .on::after {
    content: '|';
    left: 14px;
    font-size: 14px;
    top: 3px;
    color: #daffe0;
  }

  .off::after {
    content: 'o';
    right: 19px;
    font-size: 21px;
    top: -2px;
    color: #969696;
  }
}

.switch {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  &+.switch-btn {
    box-sizing: border-box;

    &::selection {
      background: none;
    }
  }

  +.switch-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked+.switch-btn:after {
    left: 50%;
  }
}

// theme
.switch-ios {
  +.switch-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;

    &:after {
      border-radius: 2em;
      background: #fbfbfb;
      transition:
        left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
        padding .3s ease, margin .3s ease;
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, .1),
        0 4px 0 rgba(0, 0, 0, .08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em #e8eae9;

      &:after {
        padding-right: .8em;
      }
    }
  }

  &:checked+.switch-btn {
    background: #30c748;

    &:active {
      box-shadow: none;

      &:after {
        margin-left: -.8em;
      }
    }
  }
}