.white-theme {
  background-color: $color-light;
  color: $color-dark;

  .img-logo {
    filter: invert(0);
  }

  .title,
  .switch-list-item h4 {
    color: lighten($color-dark, 10%);
  }

  .list-social {
    li a {
      color: lighten($color-dark, 10%);

      &:hover {
        color: $color-dark;
      }
    }
  }

  .txt-social {
    border-color: lighten($color-dark, 58%);
  }
}