@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px) !default;

%transition {
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

:root {
  --font-1: 'Raleway', sans-serif;
}

/* Global */
html,
body {
  background: rgb(15, 15, 15);
}

body {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.title {
  color: #fff;
  background: -webkit-linear-gradient(#ff5413, #ce2865, #c118a5 36%, #3399fe 100%);
  background: linear-gradient(#ff5413, #ce2865, #c118a5 36%, #3399fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-1);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;

  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 7rem;
  }
}

.list-social {
  text-align: center;

  li {
    display: inline-block;
    margin-right: 15px;
    font-size: 2.3rem;
    @extend %transition;

    &:hover {
      @extend %transition;
      transform: translateY(-5px);

      a {
        color: #fff;
      }
    }

    a {
      color: #a09d9d;
    }
  }
}

footer {
  text-align: center;
  margin-top: 6rem;

  .copyright {
    color: #5f5d5d;
    margin-bottom: 0;
  }
}